$header-background: rgb(240,240,240);
.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: $header-height;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    //background-color: $header-background;
    background: $header-background;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    // backdrop-filter: blur(2px) brightness(80%);
    z-index: 99;
    transition: 100ms ease all;
    &:hover {
        backdrop-filter: blur(5px) brightness(80%);
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: relative;
        div {
            display: inline-block;
            li {
                display: inline-block;
                margin: 0 30px 0 20px;
                .ul__link {
                    font-size: 1.5rem;
                    font-weight: 600;
                    text-decoration: none;
                    color: $dark-1;
                    transition: 100ms ease all;
                    margin: 0 0 0 0;
                    &:hover {
                        filter: brightness(200%);
                        color: $primary-1;
                    }
                    .icon {
                        display: none;
                    }
                    div {
                        display: block;
                    }
                }
            }
        }
    }
    .container__logo {
        filter: brightness(120%);
        left: 0;
        position: absolute;
        .logo__link {
            display: inline-block;
            padding: 0;
            margin: 0 0 0 10vw;
            top: 2.5px;
            position: relative;
            img {
                float: left;
                width: 35px;
                padding: 0;
                margin: 0;
            }
        }
    }
    .theme-changer-wrapper {
        right: 0;
        position: absolute;
        .theme-changer {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 10vw 0 0;
            width: 50px;
            height: 50px;
            cursor: pointer;
            border: none;
            outline: none;
            border-radius: 100%;
            background: transparent;
            transition: 100ms ease all;
            &:hover {
                backdrop-filter: brightness(90%);
                .theme-icon {
                    color: $primary-1;
                }
            }
            .theme-icon {
                color: black;
                transition: 100ms ease all;
            }
        }
    }
}
.header__containerDark {
    background: rgb(35,35,35);
    ul {
        div {
            li {
                .ul__link {
                    color: rgb(240,240,240);
                }
            }
        }
    }
    .theme-changer-wrapper {
        .theme-changer {
            .theme-icon {
                color: rgb(240,240,240);
            }
        }
    }
}
@import "media.scss";