@media screen and (max-width: 999px) {
    .header__container {
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        .container__logo {
            display: none;
        }
        ul {
            justify-content: center;
            div {
                li {
                    padding: 0;
                    margin: 10px;
                    .ul__link {
                        padding: 0;
                        margin: 0 0 0 0;
                        .icon {
                            font-size: 4rem;
                            display: block;
                        }
                        div {
                            display: none;
                        }
                    }
                }
            }
        }
        .header__actions {
            .actions__wrapper {
                right: 5vw !important;
                .wrapper__theme {
                    background: rgb(15,15,15);
                    position: relative;
                    .theme__icon {
                        color: white;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 570px) {
    .header__container {
        .header__actions {
            .actions__wrapper {
                flex-direction: column;
                background: $dark-1;
                border-radius: 30px;
                top: 100% !important;
            }
        }
    }
}
@media screen and (max-width: 460px) {
    .header__container {
        .header__actions {
            .actions__wrapper {
                flex-direction: column;
                background: $dark-1;
                border-radius: 0 0 30px 30px;
                top: 125px !important;
            }
        }
    }
}