@media screen and (max-width: 790px) {
    .header__container {
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        .container__logo {
            display: none;
        }
        ul {
            justify-content: center;
            div {
                li {
                    padding: 0;
                    margin: 10px;
                    .ul__link {
                        padding: 0;
                        margin: 0 0 0 0;
                        .icon {
                            font-size: 4rem;
                            display: block;
                        }
                        div {
                            display: none;
                        }
                    }
                }
            }
        }
        .theme-changer-wrapper {
            top: 50px;
            .theme-changer {
                background: rgb(15,15,15);
                position: relative;
                .theme-icon {
                    color: white;
                }
            }
        }
    }
}
@media screen and (max-width: 570px) {
    .header__container {
        .theme-changer-wrapper {
            top: 175px;
        }
    }
}