.feedback__container {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - $header-height);
    top: $header-height;
    margin: 0;
    padding: 0;
    background: $home-background;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    .container__form {
        display: flex;
        align-items: center;
        justify-content: top;
        flex-direction: column;
        width: 40vw;
        min-width: 500px;
        height: auto;
        padding: 40px;
        margin: 10vh 0 0 0;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        background: rgb(25,25,25);
        .form__wrapper {
            width: 80%;
            display: flex;
            left: 0;
            // top: 37.5px;
            z-index: 2;
            position: relative;
            margin: 10px;
            pointer-events: none;
            .wrapper__label {
                color: white;
                // font-size: 0.9em;
                font-size: 1.5em;
            }
        }
        input,textarea {
            color: white;
        }
        .form__input {
            width: 80%;
            padding: 10px;
            background: rgb(35,35,35);
            outline: none;
            border: none;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            position: relative;
        }
        .form__textarea {
            width: 80%;
            height: auto;
            padding: 10px;
            background: rgb(35,35,35);
            outline: none;
            border: none;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            position: relative;
            resize: vertical;
        }
        .form__submit {
            color: white;
            width: 80%;
            padding: 10px;
            background: rgb(35,35,35);
            outline: none;
            border: none;
            margin: 40px 0 0 0;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            position: relative;
            &:hover {
                outline: 2px solid $primary-1;
            }
        }
        .complete_message {
            display: none;
        }
    }
}
