.feedback__container {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - $header-height);
    top: $header-height;
    margin: 0;
    padding: 0;
    background: $home-background;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    .container__form {
        display: flex;
        align-items: center;
        justify-content: top;
        flex-direction: column;
        width: 40vw;
        min-width: 500px;
        height: auto;
        padding: 40px;
        margin: 10vh 0 0 0;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        background: rgb(25,25,25);
        h1 {
            margin: 0 0 50px 0;
            padding: 0;
        }
        .form__wrapper {
            width: 80%;
            display: flex;
            left: 0;
            // top: 37.5px;
            z-index: 2;
            position: relative;
            margin: 10px;
            pointer-events: none;
            .wrapper__label {
                color: white;
                // font-size: 0.9em;
                font-size: 1.5em;
            }
        }
        input,textarea {
            color: white;
        }
        .form__input {
            width: 80%;
            padding: 10px;
            background: rgb(35,35,35);
            outline: none;
            border: none;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            position: relative;
        }
        .form__textarea {
            width: 80%;
            height: auto;
            padding: 10px;
            background: rgb(35,35,35);
            outline: none;
            border: none;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            position: relative;
            resize: vertical;
        }
        .form__submit {
            color: white;
            width: 80%;
            padding: 10px;
            background: rgb(35,35,35);
            outline: 2px solid rgba(0,0,0,0.1);
            border: none;
            margin: 40px 0 0 0;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            position: relative;
            &:hover {
                outline: 2px solid $primary-1;
            }
        }
        .complete_message {
            display: none;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 30px 0 0 0;
            width: 80%;
            height: 20px;
            padding: 20px;
            background: $success-t;
            outline: 1px solid $success;
            position: relative;
            border-radius: 10px;
            p {
                font-weight: 600;
                font-size: 1.2em;
                text-align: center;
                color: $green-2;
            }
        }
        .incomplete_message {
            display: none;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 30px 0 0 0;
            width: 80%;
            height: 20px;
            padding: 20px;
            background: $red-2;
            outline: 1px solid $red-3;
            position: relative;
            border-radius: 10px;
            p {
                font-weight: 600;
                font-size: 1.2em;
                text-align: center;
                color: $red-4;
            }
        }
    }
}
@media screen and (max-width: 680px) {
    .feedback__container {
        .container__form {
            width: 100%;
            margin: 0;
            padding: 100px;
            input,textarea {
                transition: 100ms ease all;
                font-size: 1.2em;
                &:active,&:focus {
                    background: rgb(45,45,45);
                }
            }
            .form__submit {
                font-size: 1.5em;
                height: 60px;
            }
        }
    }
}
@media screen and (max-width: 460px) {
    .feedback__container {
        .container__form {
            min-width: none !important;
            input,textarea {
                width: 70% !important;
            }
            .form__wrapper {
                width: 70%;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .feedback__container {
        .container__form {
            min-width: none !important;
            input,textarea {
                width: 60% !important;
            }
            .form__wrapper {
                width: 60%;
            }
        }
    }
}