@import "vars.scss";
@import "functions.scss";
@import "header/header.scss";
*,*::before,*::after {
    cursor: none !important;
}
.root {
    overflow: hidden;
}
body {
    background: rgb(30,30,30);
}
.container {
    width: 100vw;
    height: calc(100vh - $header-height);
    left: 0;
    top: $header-height;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgb(250,2550,250);
    position: absolute;
    &::-webkit-scrollbar {
        width: 10px;
        background: $light-1;
    }
    &::-webkit-scrollbar-thumb {
        background: $primary-1-dark;
    }
}
.nopage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left:0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    .nopage__link {
        color: $primary-1;
        margin-top: 20px;
        text-decoration: none;
        font-size: 1rem;
        &:hover {
            text-decoration: underline;
        }
    }
}
.cursor {
    width: 10px;
    height: 10px;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    position: fixed;
    z-index: 101;
    pointer-events: none;
}
.cursor-follow {
    opacity:0.5;
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    position: fixed;
    z-index: 100;
    pointer-events: none;
    z-index: 100;
    transition: 200ms ease all;
}
.inactive_default {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    color: rgba(0,0,0,0) !important;
    opacity: 0.2;
    pointer-events: none;
    position: relative;
    &::after {
        content: "Inactive";
        left: 50%;
        top: 50%;
        filter: none;
        color: white;
        font-size: 1em;
        transform: translate(-50%, -50%);
        position: absolute;
    }
}
@import "../home/home.scss";
@import "../programs/programs.scss";
@import "../about/about.scss";
@import "../contact/contact.scss";
@import "../feedback/feedback.scss";

@import "./settings/settings.scss";

@import "./dark.scss";