$nav-width: 25vw;
.aboutContainer {
    background: rgb(250, 250, 250);
    .teachers-wrapper {
        display: flex;
        justify-content: left;
        flex-direction: row;
        align-items: top;
        position: relative;
        .nav {
            flex-direction: column;
            display: flex;
            width: $nav-width;
            height: 100vh;
            left: 0;
            top: $header-height;
            padding: 0;
            margin: 0;
            // background: $dark-1;
            position: fixed;
            z-index: 98;
            border-right: 2px solid rgb(200, 200, 200);
            overflow-y: auto;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                height: 4px;
            }
            &::-webkit-scrollbar-thumb {
                background: $primary-1;
            }
            .t-btn {
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                $margin: 10px;
                color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                font-size: 1.5rem;
                font-weight: 600;
                min-width: 100px;
                width: calc(100% - ($margin + $margin));
                height: 100px;
                outline: 2px solid transparent;
                border: none;
                border-radius: 5px;
                position: relative;
                cursor: pointer;
                margin: $margin;
                transition: 100ms ease all;
                background: white;
                &:hover {
                    $color: $primary-1;
                    outline: 2px solid $color;
                    color: $color;
                }
                &:nth-child(1) {
                    margin-top: 20px;
                }
            }
        }
        .inst {
            display: flex;
            align-items: center;
            justify-content: top;
            flex-direction: column;
            width: calc(100vw - $nav-width);
            height: 100vh;
            left: $nav-width;
            top: 0;
            padding: 5vh 0 0 0;
            margin: 0;
            position: relative;
            .teacher__notification {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: black;
                $height: 10px;
                height: $height;
                top: calc(-1.4 * $height);
                position: relative;
                opacity: 1;
                transform: translateY(50px);
                transition: 100ms ease all;
                .notification__p {
                    font-size: 1em;
                    top: 20px;
                    position: relative;
                    transition: 100ms ease all;
                }
                .notification__arrow {
                    opacity: 0;
                    color: $front-txt-color;
                    font-size: 3rem;
                    bottom: -10px;
                    text-shadow: 0 0 10px 10px rgba(0, 0, 0, 1);
                    position: relative;
                    z-index: 99;
                    animation: scrollIndicator 2.5s ease infinite;
                    transition: 100ms ease all;
                }
            }
            .teacher {
                min-height: 150px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: red;
                position: relative;
                border-radius: 5px;
                overflow: hidden;
                cursor: pointer;
                // outline: 2px solid $primary-1;
                // animation: outline 2s ease infinite;
                @keyframes outline {
                    0% {
                        outline-offset: 0;
                    }
                    50% {
                        outline-offset: 20px;
                        border-radius: 0;
                    }
                    100% {
                        outline-offset: 0;
                    }
                }
                &:hover {
                    div {
                        opacity: 1;
                    }
                    &::after {
                        opacity: 1;
                    }
                }
                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background: rgba(250, 250, 250, 0.1);
                    opacity: 0;
                    position: absolute;
                    transition: 100ms ease all;
                }
                .hover {
                    display: block;
                    opacity: 0;
                    color: white;
                    position: absolute;
                    pointer-events: none;
                    transition: 100ms ease all;
                }
                img {
                    width: 150px;
                    height: 150px;
                }
            }
            h2 {
                padding: 20px;
                height: auto;
                left: 0;
                top: 0;
                position: relative;
            }
            table {
                width: 90%;
                border-radius: 10px;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                background: rgb(255, 255, 255);
                position: relative;
                tr {
                    th {
                        padding: 10px;
                        sup {
                            .i {
                                padding: 2.5px;
                            }
                        }
                    }
                    td {
                        text-align: center;
                        padding: 5px 10px 10px 10px;
                    }
                }
            }
        }
        .learning {
            height: auto;
            background: rgb(250, 250, 250);
            padding-bottom: 50px;
            h1 {
                font-size: 3rem;
                color: $primary-1;
            }
            .card {
                color: $primary-1-dark;
                $padding: 20px;
                margin-top: 50px;
                width: calc(90% - ($padding * 2));
                height: auto;
                padding: $padding;
                border-radius: 10px;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                background: rgb(255, 255, 255);
                position: relative;
                h1 {
                    color: $primary-1;
                    font-size: 1.5rem;
                    span {
                        color: $primary-yellow;
                    }
                }
                p {
                    font-weight: 500;
                    font-size: 1.2rem;
                    margin-top: 3%;
                }
            }
            .card.last {
                box-shadow: none;
                background: none;
                position: relative;
                &::after {
                    width: 100%;
                    height: 10px;
                    left: 0;
                    top: 0;
                    background: red;
                    position: absolute;
                }
            }
            table {
                $padding: 20px;
                width: calc(90% - ($padding * 2));
                margin-top: 10vh;
                padding: $padding;
                border-collapse: collapse;
                th {
                    height: auto;
                    font-size: 2rem;
                    // background: $primary-yellow;
                    color: $primary-1;
                    transition: 100ms ease all;
                    cursor: default;
                    border-right: 1px solid rgba(0, 0, 0, 0.2);
                    &:last-child {
                        border-right: none;
                    }
                }
                td {
                    $bc: rgba(0, 0, 0, 0.2);
                    font-size: 1rem;
                    border-top: 1px solid $bc;
                    border-right: 1px solid $bc;
                    &:nth-child(4) {
                        border-right: none;
                    }
                }
            }
            .display {
                display: flex !important;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                $padding: 20px;
                width: calc(90% - ($padding * 2));
                height: auto;
                padding: $padding;
                border-radius: 10px;
                position: relative;
                &.display-credits {
                    margin-top: 50px;
                }
                .item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: 20px;
                    width: 50px;
                    height: 50px;
                    margin: 10px;
                    background:rgb(250, 250, 250);
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    span {
                        font-size: 2em;
                    }
                    .text {
                        font-size: 0.9em;
                        margin-top: 20px;
                        bottom: 0;
                        position: relative;
                    }
                    .subject {
                        font-size: 1em;
                    }
                }
                .item-subject {
                    width: auto;
                    padding-bottom: 30px;
                    .grade {
                        width: auto;
                        font-size: 0.8em;
                        margin: 0 0 15px 0;
                        position: relative;
                        &::after {
                            content: "";
                            width: 100%;
                            height: 1px;
                            left: 0;
                            bottom: -4px;
                            background: $primary-1;
                            position: absolute;
                        }
                    }
                }
            }
            // .learing__seperator {
            //     width: 90%;
            //     height: 2px;
            //     left: 0;
            //     top: 0;
            //     border-radius: 10px;
            //     background: $primary-1;
            //     position: relative;
            // }
        }
        .videos {
            .video-grid {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: auto;
                position: relative;
                padding-bottom: 50px;
                video {
                    padding: 20px;
                    margin-top: 50px;
                    width: 80%;
                    height: auto;
                    position: relative;
                    border-radius: 50px;
                }
            }
        }
    }
}
@import "teacherinfo.scss";
@import "uniforms.scss";
@import "media.scss";
