@media screen and (max-width: 1253px) {
    .aboutContainer {
        .teachers-wrapper {
            .learning {
                .learning__title {
                    display: none;
                }
                .display {
                    &.display-credits {
                        margin-top: 0;
                    }
                    &.display-subject {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 570px) {
    .aboutContainer {
        .teachers-wrapper {
            .nav {
                width: 100vw;
                height: 75px;
                flex-direction: row;
                border-right: 2px solid transparent;
                background: rgb(250,250,250);
                border-bottom: 2px solid $primary-1;
                overflow-y: hidden;
                overflow-x: auto;
                &::-webkit-scrollbar-thumb {
                    border-radius: 20px 20px 0 0;
                }
                .t-btn {
                    font-size: 1.3rem;
                    height: 55px;
                    padding-left: 20px;
                    padding-right: 20px;
                    position: relative;
                    &:nth-child(1) {
                        margin-top: 10px;
                    }
                }
            }
            .inst {
                width: 100vw;
                left: 0;
                top: 25vw;
            }
        }
    }
}
@media screen and (min-width: 571px) {
    .teachers-wrapper {
        .nav {
            /*
            .t-btn {
                $margin: 10px;
                width: calc(100% - ($margin + $margin));
            }
            */
        }
    }
}
@media screen and (max-height: 685px) {
    .teachers-wrapper {
        .nav {
            .t-btn {
                height: 50px !important;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
}
@media screen and (max-height: 538px) {
    .teachers-wrapper {
        .nav {
            .t-btn {
                padding: 0;
            }
        }
    }
}