.page-wrapper {
    .text-wrapper {
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        color: black;
        margin-bottom: 30px;
        padding: 30px;
        transition: 100ms ease all;
        position: relative;
        h1 {
            margin: 0 0 20px 0;
            z-index: 2;
        }
        p {
            background: rgb(45,45,45);
            padding: 20px;
            border-radius: 10px;
            z-index: 2;
        }
        @keyframes f {
            100% {
                background-position: right;
            }
        }
    }
}
i {
    sup {
        .i {
            text-decoration: none;
            padding: 2.5px;
            &:hover {
                color: $primary-1;
            }
        }
    }
}
