@media screen and (max-width: 910px) {
    .programs__container {
        .wrapper__cards {
            flex-direction: column;
            align-content:center;
            .cards__card {
                justify-content: flex-start;
            }
        }
    }
}