@media screen and (max-width: 1661px) {
    .home__container {
        .container__background {
            video {
                width: 200%;
            }
        }
    }
}
@media screen and (max-width: 1345px) {
    .home__container {
        .container__actions {
            height: 90%;
            flex-direction: column;
            top: 0;
            position: relative;
            .actions__button {
                width: 80%;
                padding: 40px;
                margin: 20px;
            }
        }
    }
}
@media screen and (max-width: 835px) {
    .home__container {
        .container__background {
            video {
                width: 250%;
            }
        }
    }
}
@media screen and (max-width: 671px) {
    .home__container {
        .container__background {
            video {
                width: 300%;
            }
        }
    }
}
@media screen and (max-width: 561px) {
    .home__container {
        .container__background {
            video {
                width: 400%;
            }
        }
    }
}
@media screen and (max-width: 423px) {
    .home__container {
        .container__background {
            video {
                width: 500%;
            }
        }
    }
}
@media screen and (max-height: 570px) {
    .home__container {
        .head__container {
            .container__wrapper {
                h1 {
                    top: 10%;
                }
            }
        }
    }
}
@media screen and (max-height: 465px) {
    .home__container {
        .head__container {
            .container__wrapper {
                h1 {
                    top: 20%;
                }
            }
        }
    }
}
@media screen and (max-height: 385px) {
    .home__container {
        .head__container {
            .container__wrapper {
                h1 {
                    top: 25%;
                }
            }
        }
    }
}
