$main-it-color: #a71624;
$primary-1-dark: #941723;
$primary-1: $main-it-color;
$primary-1-light: #e7c7ca;
$primary-2: #5386E4;
$primary-3: #6F58C9;
$dark-1: rgb(50,50,50);
$light-1: rgb(240,240,240);

$home-background: $light-1;
$header-background: $home-background;
$header-icon-color: $dark-1;
$header-icon-color-hover: $primary-1;

$header-width: 75px;
$header-height: 75px /*50px*/;
$header-zIndex: 99;
$header-icon-size: 4rem;